---
import Text from "./Text.astro";
---
<Text>
    <div class="bg-black">
        <div class="flex">
            <pre class="font-sans text-white">%%%%%@@%%%***++++++++++++++++++++++++++</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-white">%%%@@@@@@%*+**+++++++++++++++++=--=-===</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-white">%%%@@@%##*=::=++++++++++++=============</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-white">@%%@@##*=</pre><pre class="font-sans text-olive">:</pre><pre class="font-sans text-silver">.   </pre><pre class="font-sans text-white">:=====+++===========+=+==</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-white">#**%#+</pre><pre class="font-sans text-red">+</pre><pre class="font-sans text-yellow">=</pre><pre class="font-sans text-red">==-:</pre><pre class="font-sans text-maroon">.</pre><pre class="font-sans text-olive"> </pre><pre class="font-sans text-gray">  </pre><pre class="font-sans text-white">:---======+=++====+++++</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-white">###%#+</pre><pre class="font-sans text-yellow">-</pre><pre class="font-sans text-red">**+</pre><pre class="font-sans text-yellow">*</pre><pre class="font-sans text-red">*+=</pre><pre class="font-sans text-magenta">:</pre><pre class="font-sans text-silver">.</pre><pre class="font-sans text-gray">.</pre><pre class="font-sans text-white">..===+==++==+=+==+++++</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-white">%##@@</pre><pre class="font-sans text-yellow">*</pre><pre class="font-sans text-red">#</pre><pre class="font-sans text-yellow">*</pre><pre class="font-sans text-red">****</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-red">#</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-purple">*</pre><pre class="font-sans text-magenta">=</pre><pre class="font-sans text-gray">.</pre><pre class="font-sans text-white">-===+=+</pre><pre class="font-sans text-red">**</pre><pre class="font-sans text-white">+</pre><pre class="font-sans text-red">**</pre><pre class="font-sans text-white">++</pre><pre class="font-sans text-red">*</pre><pre class="font-sans text-white">++++++</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-white">%##@@</pre><pre class="font-sans text-olive">#</pre><pre class="font-sans text-yellow">%</pre><pre class="font-sans text-red">*****</pre><pre class="font-sans text-maroon">#</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-red">#</pre><pre class="font-sans text-magenta">+</pre><pre class="font-sans text-olive">:</pre><pre class="font-sans text-white">===++++</pre><pre class="font-sans text-red">+</pre><pre class="font-sans text-magenta">*</pre><pre class="font-sans text-white">+</pre><pre class="font-sans text-red">*</pre><pre class="font-sans text-silver">#</pre><pre class="font-sans text-white">+*</pre><pre class="font-sans text-red">*+</pre><pre class="font-sans text-white">+++++</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-white">%%%@@</pre><pre class="font-sans text-yellow">%</pre><pre class="font-sans text-red">*+</pre><pre class="font-sans text-silver">=</pre><pre class="font-sans text-red">=</pre><pre class="font-sans text-white">*</pre><pre class="font-sans text-magenta">**+++*</pre><pre class="font-sans text-maroon">-</pre><pre class="font-sans text-white">-=+++</pre><pre class="font-sans text-red">+</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-white">*</pre><pre class="font-sans text-red">*</pre><pre class="font-sans text-maroon">#</pre><pre class="font-sans text-red">*</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-red">*</pre><pre class="font-sans text-silver">*</pre><pre class="font-sans text-white">***+++</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-white">%%%@%</pre><pre class="font-sans text-yellow">#</pre><pre class="font-sans text-red">+-</pre><pre class="font-sans text-purple">=</pre><pre class="font-sans text-red">-*</pre><pre class="font-sans text-magenta">#*=+</pre><pre class="font-sans text-white">*</pre><pre class="font-sans text-magenta">*</pre><pre class="font-sans text-yellow">=</pre><pre class="font-sans text-white">-++**+</pre><pre class="font-sans text-red">*</pre><pre class="font-sans text-purple">#</pre><pre class="font-sans text-red">*</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-red">#</pre><pre class="font-sans text-silver">#</pre><pre class="font-sans text-red">#</pre><pre class="font-sans text-maroon">#</pre><pre class="font-sans text-white">#***+*+</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-white">##%%@</pre><pre class="font-sans text-yellow">%</pre><pre class="font-sans text-red">#*+**</pre><pre class="font-sans text-maroon">*</pre><pre class="font-sans text-red">*</pre><pre class="font-sans text-magenta">***</pre><pre class="font-sans text-silver">*</pre><pre class="font-sans text-red">+</pre><pre class="font-sans text-white">=+******</pre><pre class="font-sans text-magenta">###</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-red">#</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-olive">*</pre><pre class="font-sans text-white">**+*+</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-white">###%%</pre><pre class="font-sans text-yellow">%</pre><pre class="font-sans text-red">*</pre><pre class="font-sans text-magenta">*</pre><pre class="font-sans text-red">++*</pre><pre class="font-sans text-magenta">*#*##</pre><pre class="font-sans text-purple">#</pre><pre class="font-sans text-red">=</pre><pre class="font-sans text-white">=+******</pre><pre class="font-sans text-red">*</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-silver">#</pre><pre class="font-sans text-red">#</pre><pre class="font-sans text-white">**+*+</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-white">###%@</pre><pre class="font-sans text-red">**==+</pre><pre class="font-sans text-magenta">*****#*</pre><pre class="font-sans text-white">==+***</pre><pre class="font-sans text-red">***</pre><pre class="font-sans text-white">*</pre><pre class="font-sans text-red">*</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-purple">#</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-silver">#</pre><pre class="font-sans text-white">**+*+</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-white">###%@</pre><pre class="font-sans text-red">**+-</pre><pre class="font-sans text-magenta">+</pre><pre class="font-sans text-purple">#</pre><pre class="font-sans text-magenta">**+*#</pre><pre class="font-sans text-white">+==+****</pre><pre class="font-sans text-purple">*</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-magenta">##</pre><pre class="font-sans text-white">%%</pre><pre class="font-sans text-magenta">###</pre><pre class="font-sans text-white">**+*+</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-white">*###@</pre><pre class="font-sans text-yellow">*</pre><pre class="font-sans text-red">++++</pre><pre class="font-sans text-magenta">+**#</pre><pre class="font-sans text-purple">#</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-white">=-=+*#*****#</pre><pre class="font-sans text-magenta">##</pre><pre class="font-sans text-purple">#</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-olive">*</pre><pre class="font-sans text-white">*+*+</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-white">***#%</pre><pre class="font-sans text-red">*=++*</pre><pre class="font-sans text-magenta">*###</pre><pre class="font-sans text-white">*=====***#******</pre><pre class="font-sans text-red">+</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-silver">#</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-white">#***+</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-white">+***%</pre><pre class="font-sans text-yellow">+</pre><pre class="font-sans text-red">=</pre><pre class="font-sans text-yellow">=</pre><pre class="font-sans text-red">=</pre><pre class="font-sans text-magenta">+*</pre><pre class="font-sans text-white">*</pre><pre class="font-sans text-magenta">**</pre><pre class="font-sans text-white">===-==**##*****#+</pre><pre class="font-sans text-magenta">*</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-purple">#</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-purple">#</pre><pre class="font-sans text-white">*+=</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-cyan">+==</pre><pre class="font-sans text-red">+++++</pre><pre class="font-sans text-magenta">++=+*</pre><pre class="font-sans text-silver">*=</pre><pre class="font-sans text-cyan">=+=</pre><pre class="font-sans text-white">--+*****+*+++</pre><pre class="font-sans text-red">+</pre><pre class="font-sans text-silver">*</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-white">##</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-white">++</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-teal">-</pre><pre class="font-sans text-cyan">--=</pre><pre class="font-sans text-red">+++</pre><pre class="font-sans text-magenta">*</pre><pre class="font-sans text-silver">*</pre><pre class="font-sans text-magenta">####*</pre><pre class="font-sans text-navy">=</pre><pre class="font-sans text-cyan">=</pre><pre class="font-sans text-teal">-</pre><pre class="font-sans text-cyan">==++++</pre><pre class="font-sans text-silver">+</pre><pre class="font-sans text-white">+++*++++</pre><pre class="font-sans text-red">+</pre><pre class="font-sans text-purple">*</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-silver">#*</pre><pre class="font-sans text-white">+</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-cyan">=-</pre><pre class="font-sans text-teal">-</pre><pre class="font-sans text-cyan">--</pre><pre class="font-sans text-magenta">+</pre><pre class="font-sans text-red">**</pre><pre class="font-sans text-magenta">##</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-silver">#</pre><pre class="font-sans text-magenta">#+</pre><pre class="font-sans text-cyan">====</pre><pre class="font-sans text-teal">-</pre><pre class="font-sans text-cyan">-</pre><pre class="font-sans text-teal">=</pre><pre class="font-sans text-cyan">======</pre><pre class="font-sans text-silver">+</pre><pre class="font-sans text-white">===+</pre><pre class="font-sans text-red">+</pre><pre class="font-sans text-white">*</pre><pre class="font-sans text-magenta">*</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-white">#.</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-cyan">=-</pre><pre class="font-sans text-teal">-</pre><pre class="font-sans text-cyan">---</pre><pre class="font-sans text-magenta">+*</pre><pre class="font-sans text-silver">*</pre><pre class="font-sans text-magenta">###</pre><pre class="font-sans text-purple">#</pre><pre class="font-sans text-magenta">=</pre><pre class="font-sans text-cyan">=====-==</pre><pre class="font-sans text-teal">=</pre><pre class="font-sans text-cyan">=</pre><pre class="font-sans text-teal">=</pre><pre class="font-sans text-cyan">=</pre><pre class="font-sans text-teal">-</pre><pre class="font-sans text-cyan">+</pre><pre class="font-sans text-red">**</pre><pre class="font-sans text-white">++*</pre><pre class="font-sans text-red">*</pre><pre class="font-sans text-white">*</pre><pre class="font-sans text-purple">#</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-purple">#</pre><pre class="font-sans text-white">-</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-cyan">=-</pre><pre class="font-sans text-navy">=</pre><pre class="font-sans text-cyan">=====</pre><pre class="font-sans text-silver">=</pre><pre class="font-sans text-magenta">*</pre><pre class="font-sans text-white">+</pre><pre class="font-sans text-magenta">=</pre><pre class="font-sans text-cyan">===+</pre><pre class="font-sans text-teal">=</pre><pre class="font-sans text-cyan">==</pre><pre class="font-sans text-navy">=</pre><pre class="font-sans text-cyan">=+===-=</pre><pre class="font-sans text-blue">+</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-silver">#</pre><pre class="font-sans text-purple">#</pre><pre class="font-sans text-red">++</pre><pre class="font-sans text-white">*</pre><pre class="font-sans text-magenta">*</pre><pre class="font-sans text-white">##+</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-cyan">=-==</pre><pre class="font-sans text-teal">=</pre><pre class="font-sans text-cyan">-========</pre><pre class="font-sans text-navy">-</pre><pre class="font-sans text-cyan">+=====++=</pre><pre class="font-sans text-navy">=</pre><pre class="font-sans text-cyan">=-</pre><pre class="font-sans text-silver">*</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-magenta">#</pre><pre class="font-sans text-white">#</pre><pre class="font-sans text-purple">+</pre><pre class="font-sans text-white">+</pre><pre class="font-sans text-magenta">*</pre><pre class="font-sans text-purple">*</pre><pre class="font-sans text-magenta">*</pre><pre class="font-sans text-silver">+</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-cyan">===========+</pre><pre class="font-sans text-teal">-</pre><pre class="font-sans text-cyan">==+===++=+==-</pre><pre class="font-sans text-navy">=</pre><pre class="font-sans text-magenta">**</pre><pre class="font-sans text-silver">*</pre><pre class="font-sans text-magenta">*</pre><pre class="font-sans text-white">*</pre><pre class="font-sans text-magenta">***</pre><pre class="font-sans text-white">*</pre><pre class="font-sans text-magenta">*</pre><pre class="font-sans text-white">+-</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-teal">=</pre><pre class="font-sans text-cyan">==</pre><pre class="font-sans text-navy">=</pre><pre class="font-sans text-cyan">==</pre><pre class="font-sans text-teal">=</pre><pre class="font-sans text-cyan">==</pre><pre class="font-sans text-teal">=</pre><pre class="font-sans text-cyan">====-++**++=+=-=</pre><pre class="font-sans text-red">+++++</pre><pre class="font-sans text-silver">+</pre><pre class="font-sans text-red">+</pre><pre class="font-sans text-white">+</pre><pre class="font-sans text-magenta">+</pre><pre class="font-sans text-purple">+</pre><pre class="font-sans text-red">=</pre><pre class="font-sans text-white">=-</pre>
        </div>
        <div class="flex">
            <pre class="font-sans text-cyan">==========+=#*=******==</pre><pre class="font-sans text-magenta">-</pre><pre class="font-sans text-white">=========-::--=</pre>
        </div>
    </div>
</Text>