.box {
    position: relative;
    display: block;
    float: left;
}

.leftBorder,
.rightBorder,
.bottomBorder,
.topBorder,
.divider {
    user-select: none;
    position: absolute;
    background: inherit;
    z-index: 5;
}

.leftBorder,
.rightBorder {
    width: 1ch;
    top: 1ch;
    bottom: 1ch;
    overflow: hidden;
    word-break: break-all;
}

.topBorder {
    left: 0;
    right: 0;
}

.leftBorder {
    left: 0;
}

.rightBorder {
    right: 0;
}

.bottomBorder {
    bottom: 0;
}

.innerBox {
    width: calc(100%);
    height: calc(100%);
    display: inline-block;
    top: 1ch;
    box-sizing: border-box;
    overflow: hidden;
}

.innerBox.bordered {
    padding: 1ch;
}

.content {
    box-sizing: border-box;
}

.content.padded {
    padding: 1ch;
}

.content.scrollable {
    width: calc(100% - 1ch);
}

.title {
    margin-left: 1ch;
}

.scrollBar {
    width: 1ch;
    height: 100%;
    word-break: break-all;
    position: absolute;
    top: 1ch;
    right: 1ch;
    bottom: 1ch;
}